<a href="https://colab.research.google.com/github/ratelist/test_colab/blob/main/telecom_analytics_test_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Файлы задания https://drive.google.com/drive/folders/1yB-F83PYorHtPyYWJgUGIjXl04z0xQBz?usp=sharing

Задание:
В файле Tariff_plans_change.csv содержатся выборочные данные о транзакциях, связанных с подключениями и отключениями тарифных планов абонентами, которые меняли тарифные планы в первом полугодии 2017 года:
SUBSCRIBER_ID	 -  условный идентификатор абонента
TARIFF_PLAN_ID – условный идентификатор тарифного плана
START_DTTM	 - дата и время подключения плана
END_DTTM – дата и время отключения (значение $null$ означает, что план актуален на текущий момент).
В файле Charges.csv содержатся помесячные исторические данные об общих расходах абонентов на мобильную связь:
SUBSCRIBER_ID	 -  условный идентификатор абонента
BILL_MONTH – биллинговый период в формате YYYY-MM-01 (например, строки со значением ‘2016-01-01’ содержат данные о расходах и потреблении за январь 2016 года)
CHARGES – общая сумма  счета за услуги связи
В файле Suspended.csv содержатся исторические данные о блокировках абонентов в транзакционной форме:
SUBSCRIBER_ID	 -  условный идентификатор абонента
START_DT - дата начала блокировки
END_DT – дата окончания блокировки (значение $null$ означает, что абонент остается блокированным на текущий момент).

Необходимо исследовать следующие вопросы:

1. Направления смен тарифных планов: с каких тарифных планов и на какие шли  наибольшие перетоки? Визуализировать потоки миграций на диаграмме.

2. Насколько изменился среднемесячный счет абонентов за период 3 месяца после месяца смены тарифного плана в сравнении с периодом 3 месяца до месяца смены тарифного плана. Какие направления смен тарифных планов характеризовались ростом среднего счета в трехмесячном периоде, а какие – сокращением.  Визуализировать результаты на диаграммах.

3. Аналогично п.2, только относительно изменения уровня блокировок: насколько реже или чаще стали попадать в блокировки абоненты после миграции в целом и для каждого направления миграции в отдельности. Для сравнения использовать те же периоды: 3 месяца до месяца смены плана и 3 месяца после месяца смены.

# Заливка данных

## Установка postges

In [3]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package logrotate.
(Reading database ... 121749 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.11-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.11-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.11-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.11-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../12-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.11-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.11-0ubuntu0.22.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

In [4]:
# Импортируем функцию create_engine и text из библиотеки sqlalchemy
from sqlalchemy import create_engine, text

# Создаем engine для подключения к БД PostgreSQL
# Указываем использовать драйвер psycopg2 и указываем параметры подключения:
# - postgres - имя пользователя БД
# - postgres - пароль пользователя БД
# - localhost - хост БД
# - 5432 - порт сервера БД
# - postgres - имя БД
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

How to write DataFrame to postgres table (источник -- https://stackoverflow.com/a/55495065/4527289)

In [5]:
import csv
from io import StringIO


def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [6]:
# Импортируем библиотеку pandas для работы с данными
import pandas as pd

# Импортируем библиотеку numpy для работы с массивами и матрицами
import numpy as np

In [7]:
# Определяем функцию select
def select(sql):

    # Выполняем SQL-запрос, переданный в параметре sql
    # Читаем результат запроса в DataFrame используя соединение к БД conn
    return pd.DataFrame(con.connect().execute(text(sql)))

In [8]:
# Загрузка файлов с Google Drive
!gdown --id 1U6Gi6LmG6d6fGhEbBCQnZy0HgR-1WBL7

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:138: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1U6Gi6LmG6d6fGhEbBCQnZy0HgR-1WBL7
To: /content/task_3.zip
100% 819k/819k [00:00<00:00, 31.6MB/s]

In [9]:
# Распаковка
! unzip task_3.zip

Archive:  task_3.zip
  inflating: Charges.csv
  inflating: Suspended.csv
  inflating: Tariff_plans_change.csv

## Создание таблицы tafirr_plans_change (смена тарифных планов)

In [10]:
# Читаем csv-файл в DataFrame
df = pd.read_csv('/content/Tariff_plans_change.csv')

In [11]:
# Преобразуем столбец START_DTTM в тип datetime
df['START_DTTM'] = pd.to_datetime(df['START_DTTM'],format='%Y-%m-%d %H:%M:%S')

# Преобразуем столбец END_DTTM в tип datetime, игнорируя ошибки
df['END_DTTM'] = pd.to_datetime(df['END_DTTM'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [12]:
# Переводим все колонки dataframe в нижний регистр
df.columns = df.columns.str.lower()

In [13]:
# Проверяем типы данных по каждому столбцу
df.dtypes

subscriber_id              int64
tariff_plan_id             int64
start_dttm        datetime64[ns]
end_dttm          datetime64[ns]
dtype: object

In [14]:
# Загружаем DataFrame в таблицу БД tariff_plans_change
df.to_sql('tariff_plans_change',con,index=False,if_exists='replace',method=psql_insert_copy)

In [15]:
# Формируем SQL-запрос для подсчета строк в таблице
sql = '''select count(*) from tariff_plans_change t'''

In [16]:
# Выполняем запрос и выводим результат
select(sql)

   count
0  12344

In [17]:
# Выводим число строк в исходном DataFrame
len(df)

12344

## Создание таблицы charges (расходы абонентов на мобильную связь)

In [18]:
# Читаем csv-файл в DataFrame
df = pd.read_csv('/content/Charges.csv')

In [19]:
# Проверяем типы данных по каждому столбцу
df.dtypes

SUBSCRIBER_ID      int64
BILL_MONTH        object
CHARGES          float64
dtype: object

In [20]:
# Преобразуем столбец START_DTTM в тип datetime
df['BILL_MONTH'] = pd.to_datetime(df['BILL_MONTH'],format='%Y-%m-%d')

In [21]:
# Переводим все колонки dataframe в нижний регистр
df.columns = df.columns.str.lower()

In [22]:
# Проверяем типы данных по каждому столбцу после обработки
df.dtypes

subscriber_id             int64
bill_month       datetime64[ns]
charges                 float64
dtype: object

In [23]:
# Загружаем DataFrame в таблицу БД charges
df.to_sql('charges',con,if_exists='replace', index=False, method=psql_insert_copy)

In [24]:
# Формируем SQL-запрос для подсчета строк в таблице
sql = '''select count(*) from charges t'''

In [25]:
# Выполняем запрос и выводим результат
select(sql)

    count
0  112595

In [26]:
# Выводим число строк в исходном DataFrame
len(df)

112595

## Создание таблицы suspended (блокировки)

In [27]:
# Читаем csv-файл в DataFrame
df = pd.read_csv('/content/Suspended.csv')

In [28]:
df.head()

   SUBSCRIBER_ID    START_DT      END_DT     STATUS
0           5195  2017-12-27  2017-12-27  Suspended
1           5198  2017-04-18  2017-04-18  Suspended
2            381  2017-04-18  2017-04-20  Suspended
3           3500  2017-12-21      $null$  Suspended
4           3302  2016-08-23  2016-09-07  Suspended

In [29]:
df.dtypes

SUBSCRIBER_ID     int64
START_DT         object
END_DT           object
STATUS           object
dtype: object

In [30]:
# Преобразуем столбец START_DTTM в тип datetime
df['START_DT'] = pd.to_datetime(df['START_DT'], format='%Y-%m-%d')
df['END_DT'] = pd.to_datetime(df['END_DT'], format='%Y-%m-%d', errors='coerce')

In [31]:
df.columns = df.columns.str.lower()

In [32]:
# Проверяем типы данных по каждому столбцу после обработки
df.dtypes

subscriber_id             int64
start_dt         datetime64[ns]
end_dt           datetime64[ns]
status                   object
dtype: object

In [33]:
# Загружаем DataFrame в таблицу БД suspended
df.to_sql('suspended', con, index=False, if_exists='replace', method=psql_insert_copy)

In [34]:
# Формируем SQL-запрос для подсчета строк в таблице
sql = ''' select count(*) from suspended t'''

In [35]:
# Выполняем запрос и выводим результат
select(sql)

   count
0   4063

In [36]:
# Выводим число строк в исходном DataFrame
len(df)

4063

# Решение

## Направления смен тарифных планов: с каких тарифных планов и на какие шли  наибольшие перетоки? Визуализировать потоки миграций на диаграмме.

In [37]:
sql = '''select * from tariff_plans_change t limit 5'''

In [38]:
select(sql)

   subscriber_id  tariff_plan_id          start_dttm            end_dttm
0              1               2 2013-11-22 21:10:08 2017-03-11 14:24:17
1              1               3 2017-03-11 14:24:18                 NaT
2              2               1 2016-02-05 16:36:34 2017-06-29 12:39:58
3              2               5 2017-06-29 12:39:59                 NaT
4              3               1 2015-05-06 19:17:46 2017-04-14 12:00:59

In [39]:
# Добавляем оконный столбец tariff_number - номер тарифа для каждого абонента
# Нумерация идет в порядке возрастания даты начала тарифа (start_dttm)
sql = '''
with tariff_number as (j
select t.*,

row_number() over (partition by t.subscriber_id order by t.start_dttm) as tariff_number

from tariff_plans_change t)

select * from tariff_number t
where t.subscriber_id = 5929


'''

In [40]:
sql = '''
with unique_tariff as (

select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm

from tariff_plans_change t
),

tariff_number as (
select t.*,

row_number() over (partition by t.subscriber_id order by t.start_dttm desc) as tariff_number

from unique_tariff t),

tariff_change as (

select
t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,

tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first



 from tariff_number t
 left join tariff_number tn on t.subscriber_id = tn.subscriber_id and tn.tariff_number = 2
where t.tariff_number = 1)

select t.tariff_plan_id_first, t.tariff_plan_id_last, count(1) as abon_cnt from tariff_change t
group by t.tariff_plan_id_first, t.tariff_plan_id_last
order by abon_cnt desc


'''

In [41]:
select(sql)

    tariff_plan_id_first  tariff_plan_id_last  abon_cnt
0                      3                    5      2319
1                      1                    5      1566
2                      4                    5       512
3                      2                    5       408
4                      1                    4       353
5                      3                    4       307
6                      2                    4       139
7                      5                    1        67
8                      5                    3        59
9                      4                    3        48
10                     1                    3        48
11                     5                    4        40
12                     4                    1        31
13                     4                    2        20
14                     3                    1        18
15                     2                    3        16
16                     2                    1        13
17                     3                    2         8
18                     5                    5         7
19                     1                    2         5
20                     5                    2         4
21                     3                    3         1

In [42]:
# Вспомогательный цикл для вытаскивания названий столбцов
#for col in t.columns:
 # print(f't.{col},')

In [43]:
switch = select(sql)

In [44]:
switch

    tariff_plan_id_first  tariff_plan_id_last  abon_cnt
0                      3                    5      2319
1                      1                    5      1566
2                      4                    5       512
3                      2                    5       408
4                      1                    4       353
5                      3                    4       307
6                      2                    4       139
7                      5                    1        67
8                      5                    3        59
9                      4                    3        48
10                     1                    3        48
11                     5                    4        40
12                     4                    1        31
13                     4                    2        20
14                     3                    1        18
15                     2                    3        16
16                     2                    1        13
17                     3                    2         8
18                     5                    5         7
19                     1                    2         5
20                     5                    2         4
21                     3                    3         1

In [45]:
switch[['tariff_plan_id_first','tariff_plan_id_last']] = switch[['tariff_plan_id_first','tariff_plan_id_last']].astype('str')

In [46]:
switch['tariff_plan_id_first'] = '1_' + switch['tariff_plan_id_first']

In [47]:
switch['tariff_plan_id_last'] = '2_' + switch['tariff_plan_id_last']

In [48]:
switch

   tariff_plan_id_first tariff_plan_id_last  abon_cnt
0                   1_3                 2_5      2319
1                   1_1                 2_5      1566
2                   1_4                 2_5       512
3                   1_2                 2_5       408
4                   1_1                 2_4       353
5                   1_3                 2_4       307
6                   1_2                 2_4       139
7                   1_5                 2_1        67
8                   1_5                 2_3        59
9                   1_4                 2_3        48
10                  1_1                 2_3        48
11                  1_5                 2_4        40
12                  1_4                 2_1        31
13                  1_4                 2_2        20
14                  1_3                 2_1        18
15                  1_2                 2_3        16
16                  1_2                 2_1        13
17                  1_3                 2_2         8
18                  1_5                 2_5         7
19                  1_1                 2_2         5
20                  1_5                 2_2         4
21                  1_3                 2_3         1

In [49]:
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#4B8BBE','#306998','#FFE873','#FFD43B','#646464']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp

    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))

    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum

    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()

    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))

    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )

    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )

    fig = dict(data=[data], layout=layout)
    return fig

In [50]:
param = genSankey(switch,cat_cols=['tariff_plan_id_first','tariff_plan_id_last'],value_cols='abon_cnt')

In [51]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = param['data'][0]['node']['label'],
      color = "blue"
    ),
    link = dict(
      source = param['data'][0]['link']['source'], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = param['data'][0]['link']['target'],
      value = param['data'][0]['link']['value']
  )
    )])

fig.update_layout(title_text="Basic Sankey Diagram", font_size=10)
fig.show()

## Насколько изменился среднемесячный счет абонентов за период 3 месяца после месяца смены тарифного плана в сравнении с периодом 3 месяца до месяца смены тарифного плана. Какие направления смен тарифных планов характеризовались ростом среднего счета в трехмесячном периоде, а какие – сокращением.  Визуализировать результаты на диаграммах.

In [58]:
sql = '''
with unique_tariff as (

select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm

from tariff_plans_change t
),

tariff_number as (
select t.*,

row_number() over (partition by t.subscriber_id order by t.start_dttm desc) as tariff_number

 from unique_tariff t),

 tariff_change as (



 select
 t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,

tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,

date_trunc('month',t.start_dttm) as tariff_change_month


  from tariff_number t
  left join tariff_number tn on t.subscriber_id = tn.subscriber_id and tn.tariff_number = 2
 where t.tariff_number = 1),

 charges_before as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3 and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1 and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (


select t.*, cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after

 from tariff_change t
left join charges_before cb on t.subscriber_id = cb.subscriber_id
left join charges_after ca on t.subscriber_id = ca.subscriber_id)


select avg(t.charges_avg_before) as before, avg(t.charges_avg_after) as after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change

 from charges_before_after t
 where t.charges_cnt_before = 3 and t.charges_cnt_after = 3
'''

In [59]:
select(sql)

     before     after    change
0  7.338054  6.060968 -0.174036

In [60]:
sql = '''
with unique_tariff as (

select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm

from tariff_plans_change t
),

tariff_number as (
select t.*,

row_number() over (partition by t.subscriber_id order by t.start_dttm desc) as tariff_number

 from unique_tariff t),

 tariff_change as (



 select
 t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,

tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,

date_trunc('month',t.start_dttm) as tariff_change_month


  from tariff_number t
  left join tariff_number tn on t.subscriber_id = tn.subscriber_id and tn.tariff_number = 2
 where t.tariff_number = 1),

 charges_before as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3 and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1 and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (


select t.*, cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after

 from tariff_change t
left join charges_before cb on t.subscriber_id = cb.subscriber_id
left join charges_after ca on t.subscriber_id = ca.subscriber_id)


select
t.tariff_plan_id_first,t.tariff_plan_id_last,
count(1) as abon_cnt,

avg(t.charges_avg_before) as before, avg(t.charges_avg_after) as after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change

 from charges_before_after t
 where t.charges_cnt_before = 3 and t.charges_cnt_after = 3
 group by
 t.tariff_plan_id_first,t.tariff_plan_id_last
 order by count(1) desc

'''

In [61]:
select(sql)

,tariff_plan_id_first,tariff_plan_id_last,abon_cnt,before,after,change
0,3,5,2073,8.407208,6.464446,-0.231083
1,1,5,1257,7.236361,6.195536,-0.143833
2,4,5,415,6.045372,6.183480,0.022845
3,2,5,344,6.267281,6.194256,-0.011652
4,1,4,327,5.685183,3.938268,-0.307275
5,3,4,271,7.045891,4.637973,-0.341748
6,2,4,129,3.670674,3.741987,0.019428
7,5,1,50,7.864520,7.557780,-0.039003
8,5,3,38,8.243614,8.541070,0.036083
9,1,3,36,8.173565,8.369648,0.023990
10,4,3,33,6.102495,8.451202,0.384877
11,5,4,30,4.932489,2.906867,-0.410669
12,4,1,29,6.004793,6.432793,0.071276
13,3,1,17,8.105020,7.551059,-0.068348
14,4,2,13,3.414179,5.181000,0.517495
15,2,1,13,7.857000,6.910051,-0.120523
16,2,3,9,9.158037,8.333630,-0.090020
17,3,2,6,6.409389,6.557611,0.023126
18,5,5,5,10.198600,5.645467,-0.446447
19,1,2,5,5.128467,3.989200,-0.222146
20,5,2,3,3.001778,3.889889,0.295862

## Аналогично п.2, только относительно изменения уровня блокировок: насколько реже или чаще стали попадать в блокировки абоненты после миграции в целом и для каждого направления миграции в отдельности. Для сравнения использовать те же периоды: 3 месяца до месяца смены плана и 3 месяца после месяца смены.

In [64]:
sql = '''
with unique_tariff as (

select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm

from tariff_plans_change t
),

tariff_number as (
select t.*,

row_number() over (partition by t.subscriber_id order by t.start_dttm desc) as tariff_number

 from unique_tariff t),

 tariff_change as (



 select
 t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,

tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,

date_trunc('month',t.start_dttm) as tariff_change_month


  from tariff_number t
  left join tariff_number tn on t.subscriber_id = tn.subscriber_id and tn.tariff_number = 2
 where t.tariff_number = 1),

 charges_before as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3 and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (

select t.subscriber_id, sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1 and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (


select t.*, cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after

 from tariff_change t
left join charges_before cb on t.subscriber_id = cb.subscriber_id
left join charges_after ca on t.subscriber_id = ca.subscriber_id),

suspended_before as (

select t.subscriber_id,
count(1) as suspended_cnt
from tariff_change t
left join suspended s on t.subscriber_id = s.subscriber_id
and date_trunc('month',s.start_dt) between t.tariff_change_month - interval '1 month' * 3 and t.tariff_change_month - interval '1 month' * 1
--where t.subscriber_id = 5961
group by t.subscriber_id),

suspended_after as (

select t.subscriber_id,
count(1) as suspended_cnt
from tariff_change t
left join suspended s on t.subscriber_id = s.subscriber_id
and date_trunc('month',s.start_dt) between t.tariff_change_month + interval '1 month' * 1 and t.tariff_change_month + interval '1 month' * 3
--where t.subscriber_id = 5961
group by t.subscriber_id),


charges_and_suspended as (


select t.*,
sb.suspended_cnt as suspended_cnt_before,
sa.suspended_cnt as suspended_cnt_after

 from charges_before_after t
left join suspended_before sb on t.subscriber_id = sb.subscriber_id
left join suspended_after sa on t.subscriber_id = sa.subscriber_id)

select
t.tariff_plan_id_first,t.tariff_plan_id_last,
count(1) as abon_cnt,

avg(t.charges_avg_before) as charges_before, avg(t.charges_avg_after) as charges_after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change_charges,

avg(t.suspended_cnt_before) as suspened_before,
avg(t.suspended_cnt_after) as suspened_after,

(avg(t.suspended_cnt_after) - avg(t.suspended_cnt_before)) / avg(t.suspended_cnt_before) as change_suspended

 from charges_and_suspended t
 --where t.charges_cnt_before = 3 and t.charges_cnt_after = 3
 group by
 t.tariff_plan_id_first,t.tariff_plan_id_last
 order by count(1) desc


'''

In [65]:
select(sql)

,tariff_plan_id_first,tariff_plan_id_last,abon_cnt,charges_before,charges_after,change_charges,suspened_before,suspened_after,change_suspended
0,3,5,2319,8.688634,6.763158,-0.221609,1.0388098318240621,1.0176800344976283,-0.02034039020340389456
1,1,5,1566,7.583210,6.527286,-0.139245,1.0351213282247765,1.0274584929757344,-0.00740283775447250377
2,4,5,512,6.474830,6.619881,0.022402,1.0976562500000000,1.0625000000000000,-0.03202846975088967972
3,2,5,408,6.829156,6.371759,-0.066977,1.0024509803921569,1.0196078431372549,0.01711491442542783310
4,1,4,353,5.781895,4.113553,-0.288546,1.0254957507082153,1.0339943342776204,0.00828729281767955882
5,3,4,307,7.212978,4.811935,-0.332878,1.0781758957654723,1.0716612377850163,-0.00604229607250752877
6,2,4,139,4.208635,3.957781,-0.059605,1.00000000000000000000,1.0647482014388489,0.06474820143884890000
7,5,1,67,8.134951,7.494226,-0.078762,1.00000000000000000000,1.0298507462686567,0.02985074626865670000
8,5,3,59,8.439596,7.723347,-0.084868,1.1016949152542373,1.1355932203389831,0.03076923076923080275
9,4,3,48,7.118496,9.492362,0.333479,1.1041666666666667,1.1041666666666667,0E-20
10,1,3,48,8.695772,8.892967,0.022677,1.0208333333333333,1.00000000000000000000,-0.02040816326530609046
11,5,4,40,4.940833,3.204940,-0.351336,1.0750000000000000,1.00000000000000000000,-0.06976744186046511628
12,4,1,31,6.140280,6.275210,0.021975,1.00000000000000000000,1.1290322580645161,0.12903225806451610000
13,4,2,20,4.321208,4.844142,0.121016,1.00000000000000000000,1.0500000000000000,0.05000000000000000000
14,3,1,18,8.297435,7.665000,-0.076221,1.0555555555555556,1.0555555555555556,0E-20
15,2,3,16,11.012256,9.562811,-0.131621,1.00000000000000000000,1.00000000000000000000,0E-20
16,2,1,13,7.857000,6.910051,-0.120523,1.00000000000000000000,1.1538461538461538,0.15384615384615380000
17,3,2,8,7.143438,6.098381,-0.146296,1.8750000000000000,1.00000000000000000000,-0.46666666666666666667
18,5,5,7,10.031095,6.312952,-0.370662,1.00000000000000000000,1.00000000000000000000,0E-20
19,1,2,5,5.128467,3.989200,-0.222146,1.00000000000000000000,1.00000000000000000000,0E-20
20,5,2,4,2.777083,3.800083,0.368372,1.00000000000000000000,1.00000000000000000000,0E-20
21,3,3,1,14.139500,0.000000,-1.000000,1.00000000000000000000,1.00000000000000000000,0E-20